<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470);">
  <div class="container">
    <h1>Create movie watch lists!</h1>
    <a class="btn btn-primary" href="/lists/new">Create a new list</a>
  </div>
</div>

<div class="container text-center">

  <h3 class="m-3">Your lists</h3>
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-4 p-0">

            <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.picture_url %>)"
                data-controller="card" data-action="click->card#linkToList">
              <%= list.name  %>
              <a href="<%= list_path(list) %>" class="d-none" data-card-target="link"></a>
            </div>
        </div>
      <% end %>
    </div>
</div>
